.nearestCompetitionButton:hover {
    transform: translate(15px);
}
.nearestCompetitionButton {
    transition: transform ease-out 0.2s;
}

#jumbotron {
    background-size: cover;
    background-position-y: 50%;
}

#jumbotron > div {
    backdrop-filter: blur(15px) sepia(25%);
}

@media only screen and (max-width: 750px) {
    #jumbotron {
        background-position-x: 50%;
        background-size: 200%;
    }
}
